<% layout('layouts/template') %>
<section class="about-section">
    <div class="d-flex justify-content-center">
        <div class="card mt-3" id="card" style="width: 20rem;">
            <div class="card-body mb-3">
                <h3 class="text-center">About</h3>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
            </div>
        </div>
    </div>
</section>