<% layout('layouts/template') %>
<section class="d-flex justify-content-center">
    <div class="card mt-3" id="card" style="width: 20rem;">
        <img src="https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="text-center">About</h3>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
        </div>
  </div>
</section>