<% layout('layouts/template') %>
<section>
    <div class="d-flex flex-wrap mt-3">
        <div class="p-2">
            <div class="card" id="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1576831438132-7b74c94006b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3RhcnRlcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Starters</h3>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card" id="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1607532941433-304659e8198a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c2FsYWRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Salads</h3>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card" id="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1613482084286-41f25b486fa2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGhvdCUyMGRvZ3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Hot Dogs</h3>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card" id="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1568901346375-23c9450c58cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YnVyZ2Vyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Burgers</h3>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card" id="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1529006557810-274b9b2fc783?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8d3JhcHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                    <h3>Wraps</h3>
            </div>
        </div>
        
  </div>
</section>