/*#4e598c, #ffffff, #f9c784, #fcaf58, #ff8c42*/

#header {
	background-color: #fcaf58;
}

#headtext {
	color: #4e598c;
	font-weight: 500;
}

#navbar {
	background-color: #ff8c42;
}

#home, #about, #menu, #contact, #login, #register,
#logout, #user {
	font-weight: 500;
	color: #4e598c;
}

#home:hover, #about:hover, #menu:hover, #contact:hover, 
#login:hover, #register:hover, #logout:hover{
	font-weight: 500;
	color: #ffffff;
}

main {
	width: 100%;
	background-color: #4e598c;
}

h3, #username, #password, #email, #role {
	color: #ffffff;
}

p {
	font-weight: 500;
	color: #ffffff;
}

#card {
	border-color: #4e598c;
	background-color: #4e598c;
}

#hr {
	border: 5px solid #ffffff;
}

#lgbtn, #rgbtn {
	font-weight: 500;
	border-color: #ffffff;
	background-color: #4e598c;
	color: #ffffff;
}

#lgbtn:hover, #rgbtn:hover {
	background-color: #ffffff;
	color: #4e598c;
}

#success {
	font-weight: 500;
	color: #ffffff;
}

#error {
	font-weight: 500;
	color: #fcaf58;
}

li {
	list-style: none;
}

.mv-wtp {
	width: 900px;
	height: 400px;
}

footer {
	font-weight: 500;
	background-color: #f9c784;
	color: #4e598c;
}