/*#4e598c, #ffffff, #f9c784, #fcaf58, #ff8c42*/

.header {
	width: 100%;
	height: 38vh;
	background: url(../img/img_heading.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.headtext {
	text-align: center;
	color: #ff8c42;
	font-weight: 500;
}

#navbar {
	background: url(../img/img_navbar.jpg);
}

#home, #about, #menu, #contact, #login, #register,
#logout, #user {
	font-weight: 500;
	color: #ff8c42;
}

#home:hover, #about:hover, #menu:hover, #contact:hover, 
#login:hover, #register:hover, #logout:hover{
	font-weight: 500;
	color: #ffffff;
}

main {
	width: 100%;
	background: url(../img/img_main.jpg);
	background-size: cover;
}

h3, h5, #username, #password, #email, #role {
	color: #ffffff;
}

#hr {
	border: 5px solid #ffffff;
}

th, td {
	color: #ffffff;
}

#lgbtn, #rgbtn {
	font-weight: 500;
	border-color: #ffffff;
	background-color: #4e598c;
	color: #ffffff;
}

#lgbtn:hover, #rgbtn:hover {
	background-color: #ffffff;
	color: #4e598c;
}

#success {
	font-weight: 500;
	color: #ffffff;
}

#error {
	font-weight: 500;
	color: #fcaf58;
}

li {
	list-style: none;
}

.mv-wtp {
	width: 900px;
	height: 400px;
}

footer {
	font-weight: 500;
	background-color: #f9c784;
	color: #4e598c;
}

/* about-section */

.about-section .card {
	border: none;
	background: none;
}

.about-section .card-body {
	background: url(../img/img_card01.jpg);
}

.about-section .card-text {
	font-size: 500;
	color: #ff8c42;
}

/* menu-section */

.menu-section .card {
	background: url(../img/img_card01.jpg);
}

.menu-section .card-header h5 {
	text-align: center;
	color: #ffffff;
}

.menu-section ul li{
	background: url(../img/img_card01.jpg);
}

.menu-section .food, .price {
	color: #ffffff;
}

.menu-section .details {
	color: #ff8c42;
}

.menu-section input, button {
	width: 60px;
}

.menu-section .btn-add {
	background: #D0D5D9;
	color: #494B4D;
	border-radius: 10%;
}

.menu-section a {
	background: url(../img/img_card01.jpg);;
	color: #D0D5D9;
}

.menu-section a:hover {
	color: #ff8c42;
}

.menu-section .btn-pur {
	width: 90px;
	color: #ffffff;
	border-radius: 10%;
	background: url(../img/img_card01.jpg);;

}

 

 
 